Note that an agreed errata to RFC 2104 is:

"Applications MUST not use keys longer than B bytes."
https://www.rfc-editor.org/errata_search.php?rfc=2104

I would personally ignore RFC 2104 and instead point to SP 800-224 
https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-224.ipd.pdf

One reason to always use the block size is to avoid Equivalent Keys, see Section 6.2 of SP 800-224. Trivial Equivalent Keys is not a property good MAC/PRF/KDF should have. I would recommend keeping the block size as the default. Entropy wise all the keys are way bigger than they have to be anyway.

>HMAC using SHA-3 is somewhat overkill so I don't think there's really any reason to use it over KMAC or even just plain SHA-3, but that being said it's also not insecure so I also don't see a strong reason to disallow it entirely.

Fully agree, HMAC, HKDF, MGF, etc. are construction only needed when the hash function has significant vulnerabilities/issues such as length-extension, failure to behave like a random function, lack of variable length output etc. A reason not to use HMAC for SHA-3 is that it decreases performance and introduces Equivalent Keys.
